<br>
 <div class="jumbotron">
  <h1>Blocipedia: Social, Markdown Wikis</h1>
  <h3>Create and share Markdown Wikis</h3>
    <p>
     <% if !user_signed_in? %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'btn btn-success' %> <%= link_to "Sign In", new_user_session_path, :class => 'btn btn-default' %>
     <% else %>
      <%= link_to "New Wiki", new_wiki_path, :class => 'btn btn-success' %>
     <% end %>
    </p>
 </div>

 <div class="row icons">
   <div class="col-md-6">
     <p>Create as many public wikis as you want!</p>
     <a href="/users/sign_up"<span class="glyphicon glyphicon-eye-open"></span></a><br>
     Free Plan
   </div>
   <div class="col-md-6">
     <p>Create private wikis!</p>
     <a href="charges/new"<span class="glyphicon glyphicon-eye-close"></span></a><br>
     Premium Plan
   </div>
 </div>
